/* test 123 */

p, h1, h2, h3, h4, h5, h6, .divider {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}





img {
    display: block;
    padding: 15px 0px;
}

p {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Crimson Text";
}

.card-subhead {
    font-size: 14px;
    line-height: 1.4;
    font-family: "Roboto";
    color: grey;
}

.image-subhead {
    font-size: 12px;
    line-height: 1.4;
    font-family: "Roboto";
    margin-top: 0;
    color: grey;
}

.image-subhead a:visited {
    color: grey;  /* Ensures the link stays grey even after being visited */
}

h1 {
    font-family: "Roboto";
    margin-bottom: 0;
}

h2, h3, h6 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 22px;
    margin-bottom:0;
}

h4, h5 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-bottom:0;
}

.divider {
    height: 2px;
    background-color: #0868ac;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-0 {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

 .image-2, .image-3, .image-4{
    width:100%;
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.eviction-container {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eviction-container p{
    margin-top:0;
}
.eviction-container p,
.eviction-container ul {
    width: 100%; /* Ensures full use of the .eviction-container width */
}

.eviction-container ul {
    padding-left: 20px; /* Adjust this value to align with the paragraph's text */
    list-style-position: inside;
    font-family: "Crimson Text";
    font-size: 18px;
    margin-top:0;
    margin-bottom: 0;/* Optionally, aligns the bullet inside the content area */
}
